@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Just+Another+Hand&family=Roboto+Slab:wght@700&display=swap");

body {
    background-color: #0e1214;
    padding: 0 1.5rem;
    color: #fee;
}

h1 {
    color: #508ff1;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #71a0ec;
}
